<p id="notice"><%= notice %></p>

<h1>Movies</h1>

<div class='search-area d-flex justify-content-center'>
   <h5>Search Movies:</h5>
   <%= form_tag movies_path, :method => 'get' do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search" %>
   <% end %>
 </div>

 <hr>


 <div class="container">
   <div class="card">
    <div class="card-body d-flex justify-content-center">
      <%= link_to "Create New Movie", new_movie_path, class: "btn btn-outline-success" %>
    </div>
   </div>


  <% @movies.each do |movie| %>
    <div class="row justify-content-md-center">
      <div class="col-8 mt-2">
        <div class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-header font-italic">
            by Rajashekar Pallala
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= link_to movie.name, movie_path(movie), class: "text-success" %></h5>
            <h5 class="card-title"><%= link_to movie.industry, movie_path(movie), class: "text-success" %></h5>
            <h5 class="card-title"><%= link_to movie.actorname, movie_path(movie), class: "text-success" %></h5>
            <h5 class="card-title"><%= link_to movie.directorname, movie_path(movie), class: "text-success" %></h5
            <h5 class="card-title"><%= link_to movie.language, movie_path(movie), class: "text-success" %></h5>
            <%= link_to "View", movie_path(movie), class: "btn btn-outline-success" %>
            <%= link_to "Edit", edit_movie_path(movie), class: "btn btn-outline-info" %>
            <%= link_to "Delete", movie_path(movie), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
          </div>
          <div class="card-footer text-muted">
            <small>Created <%= time_ago_in_words(movie.created_at) %> ago,
            edited <%= time_ago_in_words(movie.updated_at) %> ago</small>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  </div>
  <div class="card">
   <div class="card-body d-flex justify-content-center">
     <%= link_to "Create New Movie", new_movie_path, class: "btn btn-outline-success" %>
   </div>
  </div>
</div>
