<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @movie.name %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @movie.industry %>
</p>

<p>
  <strong>Actorname:</strong>
  <%= @movie.actorname %>
</p>

<p>
  <strong>Directorname:</strong>
  <%= @movie.directorname %>
</p>

<p>
  <strong>Language:</strong>
  <%= @movie.language %>
</p>

<p>
  <strong>Showtime:</strong>
  <%= @movie.showtime %>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
